<html>
  <head>
    <title>g o s s i p _ editor</title>
  </head>
  <body>
    <h1>g o s s i p _ editor</h1>
    <p>edit your _ g o s s i p</p>
    <form action='/gossips/<%=id%>/edit' method='POST'>
      edited by <input type='text' name='gossip_author'/><br/>
      enter edited _ g o s s i p : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
