<html>
  <head>
    <title>g o s s i p _ publisher</title>
  </head>
  <body>
    <h1>g o s s i p _ publisher</h1>
    <p>publish a _ g o s s i p</p>
    <form action='/gossips/new/' method='POST'>
      published by :  <input type='text' name='gossip_author'/><br/>
      enter _ g o s s i p : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
