<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>T H E | G O S S I P | P R O J E C T</h1>
    <p><a href="/gossips/new/">++</a> tell us a new  g o s s i p</p>
  </body>
</html>